In [1]:
#1. Normalize the location field of Users dataset, splitting into city, region, country.
#2. For each book in the Books dataset, compute its average rating.
#3. For each book in the GoodBooks dataset, compute its average rating.

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
books_rat = pd.read_csv(r'd:\users\f35134b\Desktop\dataframe\BookRatings.csv', sep = ';', encoding = 'latin-1')

In [5]:
books = pd.read_csv(r'd:\users\f35134b\Desktop\dataframe\Books.csv', sep = ';', encoding = 'latin-1', low_memory=False)

In [6]:
goodbooks = pd.read_csv(r'd:\users\f35134b\Desktop\dataframe\goodbooks.csv', sep = ',', encoding = 'latin-1')

In [7]:
goodbooks_rat = pd.read_csv(r'd:\users\f35134b\Desktop\dataframe\goodbooks-ratings.csv', sep = ',', encoding = 'latin-1')

In [8]:
users = pd.read_csv(r'd:\users\f35134b\Desktop\dataframe\Users.csv', sep = ';', encoding = 'latin-1')

In [9]:
####################

In [12]:
# 1) Normalize the location field of Users dataset, splitting into city, region, country.
# users['Location'].str.split(',', expand=True)


users['Location'].str.split(',', expand=True).head(10)

,0,1,2,3,4,5,6,7,8
0,nyc,new york,usa,None,None,None,None,None,None
1,stockton,california,usa,None,None,None,None,None,None
2,moscow,yukon territory,russia,None,None,None,None,None,None
3,porto,v.n.gaia,portugal,None,None,None,None,None,None
4,farnborough,hants,united kingdom,None,None,None,None,None,None
5,santa monica,california,usa,None,None,None,None,None,None
6,washington,dc,usa,None,None,None,None,None,None
7,timmins,ontario,canada,None,None,None,None,None,None
8,germantown,tennessee,usa,None,None,None,None,None,None
9,albacete,wisconsin,spain,None,None,None,None,None,None

In [13]:
#users = pd.DataFrame({"0", "1", "2"})
#users.rename(columns={"0": "city", "1": "region", "2": "country" })


users['Location'].str.split(',', expand=True).head(10)
users = pd.DataFrame({"0", "1", "2"})
users.rename(columns={"0": "city", "1": "region", "2": "country" })

   0
0  0
1  2
2  1

In [14]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [15]:
goodbooks.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url'],
      dtype='object')

In [16]:
#2. For each book in the Books dataset, compute its average rating.

In [17]:
#3. For each book in the GoodBooks dataset, compute its average rating.

goodbooks.groupby('book_id').sum()['average_rating']

book_id
1     4.34
2     4.44
3     3.57
4     4.25
5     3.89
      ...
95    4.06
96    3.88
97    3.98
98    4.22
99    3.87
Name: average_rating, Length: 99, dtype: float64